* {
  box-sizing: "border-box";
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/* Transparent background for scrollbar track */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* This makes the scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    100,
    100,
    100,
    0.4
  ); /* Adjust color/opacity as needed */
  border-radius: 4px;
  border: none;
}
